*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

header {
    top: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 25px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
    background: transparent;
}

nav li {
    display: inline-block;
    padding: 14px 22px;
}

.row {
    display: flex;
    margin-top: 60px;
    margin-bottom: 60px;
}

.row-column {
    flex-direction: column;
}

.col-half {
    width: 50%;
}

.welcome {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(https://picsum.photos/id/1057/1200/900);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.btn-row {
    display: flex;
    gap: 6px;
    justify-content: center;
    margin-top: 12px;
}

.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1.2em;
    row-gap: 2.5em;
}

@media (max-width: 575.98px) {
    .navigation {
        flex-direction: column;
    }

    nav li {
        padding: 10px;
    }

    .row {
        flex-direction: column;
    }

    .card-grid {
        grid-template-columns: 1fr 1fr;
    }
}

.card img {
    width: 100%;
}

.info-tile {
    padding: 10px 25px 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.col-img {
    width: 100%;
}