@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Open+Sans:wght@300&display=swap");

* {
  font-family: "DM Serif Display", serif;
}

h1 {
  font-size: 5rem;
  text-transform: capitalize;
  line-height: 1.2;
  color: #fff;
}

h2 {
  font-size: 3rem;
  font-weight: 400;
}

h3 {
  font-size: 2rem;
  margin-bottom: 10px;
}

h4 {
  font-size: 1.3rem;
  color: #fff;
  font-weight: 200;
}

h5 {
  font-size: 1.1rem;
  text-transform: capitalize;
}

@media (max-width: 575.98px) {
  h1 {
    font-size: 2.5rem;
  }

  h3 {
      font-size: 1.6rem;
  }

  h4 {
    font-size: 1rem;
  }
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
  margin-bottom: 6px;
}

.nav-logo a {
  text-decoration: none;
  font-size: 1.7rem;
  color: #e63946;
}

a.menu-item {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  font-size: 1.1rem;
  color: #457b9d;
  transition: 0.4s;
}

a:hover.menu-item {
  color: #e63946;
  transition: 0.4s;
}

a.menu-item::after {
  content: "//";
  margin-left: 1rem;
}

a.menu-social {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  font-size: 1.1rem;
  color: #fff;
  transition: 0.4s;
}

a:hover.menu-social {
  color: #e63946;
  transition: 0.4s;
}

.footer-social,
.footer-social a {
  color: #fff;
}

a.link {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  font-size: 1em;
  color: #457b9d;
  transition: 0.2s;
}

a.link:hover {
    color: #e63946;
    transition: 0.2s;
}

.link::after {
    content: ">";
    padding-left: 10px;
}

h3 span {
  color: #e63946;
}

.title-white {
    color: #fff;
}